body{
  background-color: #f2deb3;
}

#image  {
  display: block;
  /*position: absolute;*/
  margin-left: auto;
  margin-right: auto;
  /*width: 100%;*/
}

h1  {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 72px;
 color: #a9011a;
 text-align: center;
}

  .lead {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 32px;
    color: #979917;
    text-align: center;  
  }
  
  .create-update-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }
  
  /*.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }*/